<div class="container pb-4">
<h1 class="pt-3 pb-2"><%= @place["name"] %></h1>

<p>
  <a <button type="button" class="btn btn-primary" href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<div class="row">
<% for entry in @entries %>
<div class="col-md-4">
  <h4><%= entry["title"] %></h4>
  <p><%= entry["occurred_on"] %></p>
  <p><% if entry.uploaded_image.attached? %>
  <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid"></p>
  <% end %>
  <p><%= entry["description"] %></p>
  </div>
<% end %>
</div>

<p>
  <a href="/places">Back to All Places</a>
</p>
</div>